*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans ', Arial, Helvetica, sans-serif;
    background-color: #f5f5dc;
    background-image: url(background1.png);
    width: 100%;
    height: 100%;
}

nav{
    justify-content: center;
}

.wrapper-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 25rem;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 30px;
    font-weight: 800;
    float: left;
    font-family: Courier;
    color: black;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: fixed;
    top: 0;
    background: #f5f5dc;
    background-image: url(background1.png);
    z-index: 1;
    border-bottom: #f5f5dc;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

section img{
    max-width: 100%;
}

.kolom {
    margin-top: 100px;
    margin-bottom: 60px;
}

.kolom .deskripsi {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Lato';
    color: #364f6b;
}

h3 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 25px;
    color: #364f6b;
    width: 100%;
    line-height: 55px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}   

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.wrapper .home img{
    width: 45%;
    background-position: right;
    float: right;
}

.home{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.our-goals {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.left-column {
    flex: 1;
    background-color: #585C7B;
    color: white;
    padding: 20px;
    height: 350px;
}

.right-column {
    flex: 1;
    background-color: #C47F9B;
    color: white;
    padding: 20px;
    height: 350px;
}

.container-content {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 4vh;
}

.left-column-content {
    justify-content: center;
    flex: 1;
    color: black;
    padding-left: 15vh;
    height: 400px;
    margin-right: 70px;
}

.right-column-content {
    justify-content: center;
    flex: 1;
    color: black;
    padding: 4vh;
    height: 300px;
    margin-right: 20px;
}

.left-column-content img {
    width: 38%;
    height: 250px;
    margin-left: 30px;
}

.right-column-content img {
    width: 38%;
    height: 220px;
    margin-right: 10px;
}   